* {
	padding: 0;
	margin: 0;
	font-family: "inter", monospace;
}

button {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	background-color: #fac53e;
	color: white;
	cursor: pointer;
	font: inherit;
	border-radius: 10px;
	padding: 1rem;
	font-size: 24px;
}

li {
	list-style-type: disc;
	margin-left: 20px;
}

img {
	width: 400px;
	height: 400px;
	border-radius: 20px;
}

.container {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
}

.card {
	width: 900px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	margin: auto;
	padding: 70px;
	border-radius: 20px;
	box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.3);
}

.card > :first-child {
	display: flex;
	gap: 100px;
}
.card > :last-child {
	width: 800px;
	text-align: justify;
}

.about {
	display: flex;
	flex-direction: column;
	gap: 35px;
}

.about_ciku {
	display: none;
}

.about_ciku > p {
	margin-bottom: 20px;
}

.show {
	display: block;
}


@media (max-width: 768px) {
.card > :first-child {
	display: flex;
    flex-direction: column;
	gap: 100px;
}
.card > :last-child {
	width: 100%;
	text-align: justify;
}
}